/*Relleno para que el header no cubra el contenido*/

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;

	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

.contenedorhome{
	width: 1000px;
	height: 400px;
	padding-top: 50px;
	margin: auto;
	position:relative;
	margin-bottom: 50px;
}


.contenedorhome1{
	width: 1000px;
	height: 400px;
	padding-top: 50px;
	margin: auto;
	position:relative;
	margin-bottom: 50px;
}

.main-header{
	background: #5B85AA;
	color:white;
	height: 100px;
}

	.main-header a{
		color:white;
		font-family: 'Montserrat', sans-serif;
		
		
	}
	.logo-header{
		width: 80px;
		height: 80px;
	}
.menu{
	width: 600px
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right:210px;
	bottom: 60px;
}


.menu a{
	color:white;
	text-decoration: none;
	margin-top: 20px;
}
.logo-header img {
	float: left;
	position:relative;
	bottom:10px;
	width: 80px;
	height: 80px;
}
/*Se ubica el slogan a la derecha de la imagen*/
.site-name,.site-desc{
	display: block;
		font-weight: 700;
		font-size: 1.2em;
		position: relative;
		bottom:-10px;
		left:10px;
}

/*Se transforma la lista a orden de línea*/
.listahead li{
	font-size: 20px;
	display: inline;
	position: relative;
	top: 40px;
	right: 40px;
	padding-left: 3px;
	padding-right: 3px;
}
/* Se agregan los espacios entre elementos de la lista*/
.listahead li{
	display: inline-block;
	margin-left: 30px;
}
/* se situa el contenedor del buscador a la derecha resolver posición negativa*/
.buscador{
	position: relative;
	left: 1000px;
	top:-28px;
}
/* se ingresa el campo de buscador y se le modifican las dimensiones*/
form.buscador input[type=search] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 150px;
  height: 30px;
  background: #f1f1f1;
}
/*boton modificado en el paddin para que la lupa quede centrada*/
form.buscador button {
  float: left;
  width: 40px;
  height: 30px;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
/*efecto del boton*/
form.example button:hover {
  background: #0b7dda;
}
/*Agregar comentario*/
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*Primera parte para que el header se quede fijo*/
.main-header {
	background: #5B85AA;
	color:white;
	height: 100px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
.grande{
	display:inline;
}
.mediana{
	display: inline;
}
.left{
	padding-right: 30px;
	
}
.right{
	padding-left: 30px;
	transition: transform .5s ease;
}
.left:hover{
	transform:scale(1.1);
}

/*Para estilizar el contenido genérico del body*/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

