/*Relleno para que el header no cubra el contenido*/

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;

	padding-top: 100px; /* Relleno superior igual a la altura de la cabecera*/
}

.containerhome{

	padding-top: 30px;
	width: 1000px;
	height: 2000px;
	margin: auto;
	position: relative;
	z-index: 1;
}

.containerg1{
  position: relative; 
  left: 0;
  width:450px;
  height: 300px;
  display: inline-block;
  padding-right: 45px;
  
}

.containerg1 .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
 font-size: 10px;
  width: 450px; /* Full width */
  height: 100px;

}
.containerg1 .content h1{
	padding-top: 20px;
	padding-left: 20px;
}
.containerg1 .content p{
	padding-left: 20px;
	position: relative;
	bottom: 10px;
}
.containerg2{
  position: relative; 
  right: 0;
  width:450px;
  height: 300px;
  display: inline-block;
  padding-left: 45px;
  
}

.containerg2 .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
 font-size: 10px;
  width: 450px; /* Full width */
  height: 100px;
 bottom: 5;
 right: 0;
}
.containerg2 .content h1{
	padding-top: 20px;
	padding-left: 20px;

}
.containerg2 .content p{
	padding-left: 20px;
	position: relative;
	right: 0;
	bottom: 10px;
}

.containerm1{
  position: relative; 
  top: -1650px;
  left: 175px;
  width:300px;
  height: 250px;
  display: inline;
  padding-right: 45px;
  
}

.containerm1 .content {
  position: absolute; /* Position the background text */
  bottom: 5px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 300px; /* Full width */
  height: 60px;

}
.containerm1 .content h1{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 15px;
	position: relative;
	bottom: 20px;
}
.containerm1 .content p{
	padding-left: 20px;
	font-size: 10px;
	position: relative;
	bottom: 35px;
	
}
.containerm2{
  position: relative; 
  top: -1650px;
  left: 180px;
  width:300px;
  height: 250px;
  display: inline;
  padding-right: 45px;
  
}
.containerm2 .content {
  position: absolute; /* Position the background text */
  left: 0;
  bottom: 5px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 300px; /* Full width */
  height: 60px;

}
.containerm2 .content h1{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 15px;
	position: relative;
	bottom: 20px;
}
.containerm2 .content p{
	padding-left: 20px;
	font-size: 10px;
	position: relative;
	bottom: 35px;
	
}

.containerm3{
  position: relative; 
  top: -1650px;
  right: -175px;
  width:300px;
  height: 250px;
  display: inline;
  padding-right: 45px;
  
}
.containerm3 .content {
  position: absolute; /* Position the background text */
  left: 0;
  bottom: 5px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 300px; /* Full width */
  height: 60px;

}
.containerm3 .content h1{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 15px;
	position: relative;
	bottom: 20px;
}
.containerm3 .content p{
	padding-left: 20px;
	font-size: 10px;
	position: relative;
	bottom: 35px;
	
}
.main-header{
	background: #5B85AA;
	color:white;
	height: 100px;
}

	.main-header a{
		color:white;
		font-family: 'Montserrat', sans-serif;
		
		
	}
	.logo-header{
		width: 80px;
		height: 80px;
	}
.menu{
	width: 600px
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right:210px;
	bottom: 60px;
}


.menu a{
	color:white;
	text-decoration: none;
	margin-top: 20px;
}
.logo-header img {
	float: left;
	position:relative;
	bottom:10px;
	width: 80px;
	height: 80px;
}
/*Se ubica el slogan a la derecha de la imagen*/
.site-name,.site-desc{
	display: block;
		font-weight: 700;
		font-size: 1.2em;
		position: relative;
		bottom:-10px;
		left:10px;
}

/*Se transforma la lista a orden de línea*/
.listahead li{
	font-size: 20px;
	display: inline;
	position: relative;
	top: 40px;
	right: 40px;
	padding-left: 3px;
	padding-right: 3px;
}
/* Se agregan los espacios entre elementos de la lista*/
.listahead li{
	display: inline-block;
	margin-left: 30px;
}
/* se situa el contenedor del buscador a la derecha resolver posición negativa*/
.buscador{
	position: relative;
	left: 970px;
	top:-28px;
}
/* se ingresa el campo de buscador y se le modifican las dimensiones*/
.buscador input[type=search] {
  padding: 10px;
  padding-right: 30px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 150px;
  height: 30px;
  background: #f1f1f1;
}
/*boton modificado en el paddin para que la lupa quede centrada*/
.buscador button {
	position: relative;
	left:203px;
	top: 1px;
  float: left;
  width: 30px;
  height: 23px;
  padding: 0px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
/*efecto del boton*/
form.example button:hover {
  background: #0b7dda;
}
/*Agregar comentario*/
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*Primera parte para que el header se quede fijo*/
.main-header {
	background: #5B85AA;
	color:white;
	height: 100px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	z-index: 100;
}

/*Para estilizar el contenido genérico del body*/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}
.fsm{
	
	color:white;
	height: 100px;
	display: inline;
	text-align: center;
	position: relative;
}
.footer{
	background: #5B85AA;
	color:white;
	height: 250px;
}
.contenedorsm{
	height: 200px;
	width: 600px;
	margin: auto;
	position: relative;
	margin-top: 50px;
}

 /*Formulario de Leder*/

.Formulario{
	display: flex;
	width: 400px;
	color: white;

}

.col1,.col2{
display: flex;
flex-direction: column;
}
.col1{
	margin-top: 10px;
	margin-left: 700px;
	margin-right: 50px;
}
.col2 {
	align-items: flex-start;
	margin-top: 10px;

}
.col2.button{
	border-radius: 8px;
	border:none;
	background:;
	cursor: pointer;
	margin-left: 70px;
	font-size: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
 	 transition-duration: 0.4s;
}
}
.intereses label{
	font-size: 12px;
}
.Formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}
input,textarea{
	outline: 0;
}
input:focu, textarea:focus{
	background:lightgray;
}
.sexo{
	margin-top: 10px;
}
/*formulario de leder*/



