
#main-header{
	background: #D6D1B1;
	color:white;
	height: 300px;
}

	#main-header a{
		color:white;
		font-family: 'Montserrat', sans-serif;
		
		
	}
	#logo-header{
		width: 80px;
		height: 80px;
	}
#menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right:210px;
}
#menu li{
	display: inline-block;
	margin-left: 30px;
	margin-right: 50px;
}
#menu li{
	content:"°"; 
	font-size: 20px;
	line-height: 20px;
	color:white;
}